<?xml version="1.0"?>
<config>
	<modules>
		<Magentix_LayoutAnalyzer>
			<version>0.1.2</version>
		</Magentix_LayoutAnalyzer>
	</modules>
	<global>
		<models>
			<layoutanalyzer>
				<class>Magentix_LayoutAnalyzer_Model</class>
			</layoutanalyzer>
		</models>
		<blocks>
			<layoutanalyzer>
				<class>Magentix_LayoutAnalyzer_Block</class>
			</layoutanalyzer>
		</blocks>
		<helpers>
			<layoutanalyzer>
				<class>Magentix_LayoutAnalyzer_Helper</class>
			</layoutanalyzer>
		</helpers>  
	</global>
	<frontend>
		<routers>
			<layoutanalyzer>
				<use>standard</use>
				<args>
					<module>Magentix_LayoutAnalyzer</module>
					<frontName>layoutanalyzer</frontName>
				</args>
			</layoutanalyzer>
		</routers>
		<events>
			<controller_action_layout_generate_blocks_before>
				<observers>
					<add_analyzer>
						<type>singleton</type>
						<class>layoutanalyzer/observer</class>
						<method>addBlock</method>
					</add_analyzer>
				</observers>
			</controller_action_layout_generate_blocks_before>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<set_analyzer>
						<type>singleton</type>
						<class>layoutanalyzer/observer</class>
						<method>setAnalyzer</method>
					</set_analyzer>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
	</frontend>
	 <default>
	 	<dev>
			<layoutanalyzer>
				<active>0</active>
			</layoutanalyzer>
		</dev>
	 </default>
</config>