<?xml version="1.0"?>
<config>
    <modules>
        <Wt_Find>
            <version>0.1.0</version>
        </Wt_Find>
    </modules>
    <frontend>
        <routers>
            <find>
                <use>standard</use>
                <args>
                    <module>Wt_Find</module>
                    <frontName>find</frontName>
                </args>
            </find>
        </routers>
        <layout>
            <updates>
                <find>
                    <file>find.xml</file>
                </find>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<find>
				<use>admin</use>
				<args>
					<module>Wt_Find</module>
					<frontName>find</frontName>
				</args>
			</find>
        </routers>
    </admin>
   <adminhtml>
        <!--<menu>
			<find module="find">
				<title>Find</title>
			<sort_order>71</sort_order>               
				<children>
					<items module="find">
					<title>Manage Items</title>
					<sort_order>0</sort_order>
					<action>find/adminhtml_find</action>
				</items>
				</children>
			</find>
		</menu>-->
		<layout>
			<updates>
			 <find>
				 <file>find.xml</file>
			</find>
			</updates>
		</layout>
    </adminhtml> 
    <global>
        <models>
            <find>
                <class>Wt_Find_Model</class>
                <resourceModel>find_mysql4</resourceModel>
            </find>
            <find_mysql4>
                <class>Wt_Find_Model_Mysql4</class>
                <entities>
                    <find>
                        <table>find</table>
                    </find>
                </entities>
            </find_mysql4>
        </models>
        <resources>
            <find_setup>
                <setup>
                    <module>Wt_Find</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </find_setup>
            <find_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </find_write>
            <find_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </find_read>
        </resources>
        <blocks>
            <find>
                <class>Wt_Find_Block</class>
            </find>
        </blocks>
        <helpers>
            <find>
                <class>Wt_Find_Helper</class>
            </find>
        </helpers>
    </global>
</config>