<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category	Zizio
 * @package	 Zizio_Powershare
 * @copyright   Copyright (c) 2009 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license	 http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
	
	<modules>
		<Zizio_Powershare>
			<version>0.3.7</version>
		</Zizio_Powershare>
	</modules>

    <default>
        <powershare>
            <settings>
                <protocol>https</protocol>
                <base_url>widgets.zizio.com</base_url>
                <zizio_account_url>www.zizio.com/account</zizio_account_url>
                <port></port>
            </settings>
        </powershare>
    </default>

	<global>
		<blocks>
			<powershare>
				<class>Zizio_Powershare_Block</class>
			</powershare>
		</blocks>

		<helpers>
			<powershare>
				<class>Zizio_Powershare_Helper</class>
			</powershare>
		</helpers>
		
        <models>
            <powershare>
                <class>Zizio_Powershare_Model</class>
                <resourceModel>powershare_remoteData</resourceModel>
            </powershare>
            <powershare_remoteData>
                <class>Zizio_Powershare_Model_RemoteData</class> 
            </powershare_remoteData>
        </models>
        
		<resources>
			<powershare_setup>
				<setup>
					<module>Zizio_Powershare</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</powershare_setup>
			<powershare_write>
				<connection>
					<use>core_write</use>
				</connection>
			</powershare_write>
			<powershare_read>
				<connection>
					<use>core_read</use>
				</connection>
			</powershare_read>
		</resources>
	</global>

	<admin>
		<routers>
			<powershare>
				<use>admin</use>
				<args>
					<module>Zizio_Powershare</module>
					<frontName>powershare</frontName>
				</args>
			</powershare>
		</routers>
	</admin>
	
	<frontend>
	
		<routers>
			<powershare>
				<use>standard</use>
				<args>
					<module>Zizio_Powershare</module>
					<frontName>powershare</frontName>
				</args>
			</powershare>
		</routers>
		
		<events>
            <core_block_abstract_to_html_before>
                <observers>
                    <powershare>
                        <type>model</type>
                        <class>Zizio_Powershare_Model_Observer</class>
                        <method>BeforeRenderHtml</method>
                    </powershare>
                </observers>
            </core_block_abstract_to_html_before>
			<core_block_abstract_to_html_after>
				<observers>
					<powershare>
						<type>model</type>
						<class>Zizio_Powershare_Model_Observer</class>
						<method>AfterRenderHtml</method>
					</powershare>
				</observers>
			</core_block_abstract_to_html_after>
		</events>
		
	</frontend>	

    <adminhtml>
        <menu>
            <promo>
                <children>
                    <powershare translate="title" module="powershare">
                        <title>Zizio Power Share</title>
                        <sort_order>90</sort_order>
                        <action>powershare/adminhtml_powershare</action>
                    </powershare>
                </children>
            </promo>
        </menu> 
	
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <powershare>
                        <type>model</type>
                        <class>Zizio_Powershare_Model_Observer</class>
                        <method>BeforeRenderHtml</method>
                        <args>
                            <all_versions>1</all_versions>
                        </args>
                    </powershare>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <powershare>
                        <type>model</type>
                        <class>Zizio_Powershare_Model_Observer</class>
                        <method>AfterRenderHtml</method>
                    </powershare>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <powershare>
                        <type>model</type>
                        <class>Zizio_Powershare_Model_Observer</class>
                        <method>AdminControllerPredispatch</method>
                    </powershare>
                </observers>
            </controller_action_predispatch_adminhtml>
        </events>

        <layout>
            <updates>
                <powershare>
                    <file>zizio_powershare.xml</file>
                </powershare>
            </updates>
        </layout>

		<acl>
			<resources>
				<all>
				    <title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<powershare translate="title" module="powershare">
											<title>Zizio Power Share Settings</title>
											<sort_order>10</sort_order>
										</powershare>
									</children>
							    </config>
							</children>
						</system>
                        <promo>
                            <children>
                                <powershare translate="title" module="powershare">
                                    <title>Zizio Power Share</title>
                                </powershare>
                            </children>
                        </promo>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	
	<crontab>
		<jobs>
			<zizio_powershare_daily_cron_jobs>
				<schedule><cron_expr>0 0 * * *</cron_expr></schedule>
				<run><model>powershare/observer::DailyCronJobs</model></run>
			</zizio_powershare_daily_cron_jobs>
			<zizio_powershare_hourly_cron_jobs>
				<schedule><cron_expr>0 * * * *</cron_expr></schedule>
				<run><model>powershare/observer::HourlyCronJobs</model></run>
			</zizio_powershare_hourly_cron_jobs>
		</jobs>
	</crontab>
</config>
