<?xml version="1.0"?>

<config>
    <modules>
        <VS_Sidebarreview>
            <version>2.0</version>
        </VS_Sidebarreview>
    </modules>
    <global>
        <helpers>
            <sidebarreview>
                <class>VS_Sidebarreview_Helper</class>
            </sidebarreview>
        </helpers>		
		<blocks>
			<sidebarreview>
				<class>VS_Sidebarreview_Block</class>
			</sidebarreview>
		</blocks>
        <resources>
            <sidebarreview_setup>
                <setup>
                    <module>VS_Sidebarreview</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sidebarreview_setup>
            <sidebarreview_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sidebarreview_write>
            <sidebarreview_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sidebarreview_read>
        </resources>
    </global>
	<default>
        <sidebarreview>
            <general>
                <enabledleft>1</enabledleft>
				<enabledright>1</enabledright>
				<howmany>5</howmany>
				<showproduct>0</showproduct>
				<wordlimit>50</wordlimit>
				<showptitle>1</showptitle>
            </general>			
        </sidebarreview>
		
    </default>
    <frontend>
        <layout>
            <updates>
                <sidebarreview>
                    <file>sidebarreview.xml</file>
                </sidebarreview>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sidebarreview>
                                            <title>Sidebar Review</title>
                                        </sidebarreview>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
