<?xml version="1.0"?>
<config>
    <modules>
        <Anton_Referral>
            <version>0.1.0</version>
        </Anton_Referral>
    </modules>
    <frontend>
        <routers>
            <referral>
                <use>standard</use>
                <args>
                    <module>Anton_Referral</module>
                    <frontName>referral</frontName>
                </args>
            </referral>
        </routers>
        <layout>
            <updates>
                <referral>
                    <file>referral.xml</file>
                </referral>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<referral>
				<use>admin</use>
				<args>
					<module>Anton_Referral</module>
					<frontName>referral</frontName>
				</args>
			</referral>
        </routers>
    </admin>
   <adminhtml>
        <menu>
			<referral module="referral">
				<title>Referral</title>
			<sort_order>71</sort_order>               
				<children>
					<items module="referral">
					<title>Manage Items</title>
					<sort_order>0</sort_order>
					<action>referral/adminhtml_referral</action>
				</items>
				</children>
			</referral>
		</menu>
		<layout>
			<updates>
			 <referral>
				 <file>referral.xml</file>
			</referral>
			</updates>
		</layout>
    </adminhtml> 
    <global>
        <models>
			<salesrule>
                <rewrite>
                    <quote_discount>Anton_Referral_Model_Discount</quote_discount>
                </rewrite>
            </salesrule> 
            <referral>
                <class>Anton_Referral_Model</class>
                <resourceModel>referral_mysql4</resourceModel>
            </referral>
            <referral_mysql4>
                <class>Anton_Referral_Model_Mysql4</class>
                <entities>
                    <referral>
                        <table>referral</table>
                    </referral>
                </entities>
            </referral_mysql4>
        </models>
        <resources>
            <referral_setup>
                <setup>
                    <module>Anton_Referral</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </referral_setup>
            <referral_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </referral_write>
            <referral_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </referral_read>
        </resources>
        <blocks>
            <referral>
                <class>Anton_Referral_Block</class>
            </referral>
        </blocks>
        <helpers>
            <referral>
                <class>Anton_Referral_Helper</class>
            </referral>
        </helpers>
		<events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <referral>
                        <type>singleton</type>
                        <class>Anton_Referral_Model_Observer</class>
                        <method>processUpdateDiscount</method>
                  </referral>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </global>
</config>