<?xml version="1.0"?>
<config>
    <modules>
        <Appmagento_Tags>
            <version>0.1.0</version>
        </Appmagento_Tags>
    </modules>
    <frontend>
        <routers>
            <tags>
                <use>standard</use>
                <args>
                    <module>Appmagento_Tags</module>
                    <frontName>tags</frontName>
                </args>
            </tags>
        </routers>
        <layout>
            <updates>
                <tags>
                    <file>tags.xml</file>
                </tags>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<tags>
				<use>admin</use>
				<args>
					<module>Appmagento_Tags</module>
					<frontName>tags</frontName>
				</args>
			</tags>
        </routers>
    </admin>
   <adminhtml>
        <!--<menu>
			<tags module="tags">
				<title>Tags</title>
			<sort_order>71</sort_order>               
				<children>
					<items module="tags">
					<title>Manage Items</title>
					<sort_order>0</sort_order>
					<action>tags/adminhtml_tags</action>
				</items>
				</children>
			</tags>
		</menu>-->
		<layout>
			<updates>
			 <tags>
				 <file>tags.xml</file>
			</tags>
			</updates>
		</layout>
    </adminhtml> 
    <global>
        <models>
            <tags>
                <class>Appmagento_Tags_Model</class>
                <resourceModel>tags_mysql4</resourceModel>
            </tags>
            <tags_mysql4>
                <class>Appmagento_Tags_Model_Mysql4</class>
                <entities>
                    <tags>
                        <table>tags</table>
                    </tags>
                </entities>
            </tags_mysql4>
        </models>
        <resources>
            <tags_setup>
                <setup>
                    <module>Appmagento_Tags</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tags_setup>
            <tags_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tags_write>
            <tags_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tags_read>
        </resources>
        <blocks>
            <tags>
                <class>Appmagento_Tags_Block</class>
            </tags>
        </blocks>
        <helpers>
            <tags>
                <class>Appmagento_Tags_Helper</class>
            </tags>
        </helpers>
    </global>
</config>