* { margin:0; padding:0; }

body          { font:12px/1.55 Tahoma, helvetica, sans-serif; color:#817e73; text-align:center; }

img           { border:0; vertical-align:top; }

a             { color:#817e73; text-decoration:none; }
a:hover       { text-decoration:underline; }
:focus        { outline:0; }

/* Headings */
h1          { font-size:3em; font-weight:normal; line-height:1.15; font-weight: normal; }
h2          { font-size:2.0em; line-height:1.25; margin-bottom:.45em; font-weight: normal; }
h3          { font-size:1.7em; line-height:1.25; margin-bottom:.45em; font-weight: normal; }
h4          { font-size:1.4em; line-height:1.35; margin-bottom:.45em; font-weight: normal; }
h5          { font-size:1.15em; line-height:1.35; margin-bottom:.45em; font-weight: normal; }
h6          { font-size:1.05em; line-height:1.35; margin-bottom:1em; font-weight: normal; }

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; /*border-collapse:collapse;*/ border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
p             { margin:0 0 1em; }
strong        { font-weight:bold; }
address       { font-style:normal; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small         { font-size:1em; }
big           { font-size:1.15em; }
/*sup           { font-size:1em; vertical-align:top; }*/

/* Lists */
ul,ol         { list-style:none; }

.page{ margin:0 auto; width:1000px;}
.header-container{ background:url(../images/header_bg.jpg) no-repeat; height:263px; width:1000px;}
.header-left{ float:left;}
.clear {clear: both;}

.nav-container{}
.nav-container ul{ padding-left:10px;}
.nav-container ul li{ float:left;}


.success-story{ background:url(../images/icon_success_stories.jpg) no-repeat; padding-left:70px; height:156px; border:1px #ccc solid;}
.success-story{  }
.success-story ul li{ float:left; width:300px; margin-bottom:12px;}
.story_img{ float:left; width:107px; padding-top:12px;}
.story_txt{ float:left; width:193px;padding-top:12px; text-align:left; color:#444;}
.story_txt_top{ text-align:center;}
.story_txt_title1{ font-weight:bold; color:#FF6C00; text-align:center;}
.story_txt_title2{ font-weight:bold; color:#669A38;text-align:center;}
.story_txt_title3{ font-weight:bold; color:#3A93EF;text-align:center;}

.main{ background:url(../images/body_bg_page.jpg) repeat-y -3px 0 ; margin-left:10px;}
.main_bot{ width:980px;}
.bottom_list{  border-top:6px #ccc solid; margin-top:10px; height:580px; padding-top:15px;}
.bottom_list_top ul li{ float:left; width:205px; height:240px; padding:20px 20px 0px 18px; border-left:1px #ccc solid;}
li.nborder { border:none;}
.bottom_list_img{}
.bottom_list_txt{ text-align:left;}

.bottom_list_bot{ float:left; margin:20px 30px 0 30px; padding-top:15px; border-top:1px #ccc solid; text-align:left;}
.bottom_list_bot_l{ float:left; width:600px;}
.bot_column{ float:left; width:190px; }
.bot_column b{ font-size:14px; color:#555;}
.bottom_connect{ height:60px; width:600px; text-align:left;}
.bottom_list_bot_r{ float:right; width:300px;}

.main {background:url(../images/body_bg_page.jpg) repeat-y 4px 10px ;  min-height:350px; margin: 0 0 0px 0; padding:0 0px 0px 30px; }
.main_footer{ background:url(../images/footer_bg_main.jpg) no-repeat; margin-left:7px; height:20px;}
.bottom_social{ background:url(../images/bottom_social.jpg) no-repeat; padding-top:10px; height:105px; width:980px; margin:5px 0px 0px 10px;}


.footer_left{ width:500px; float:left; text-align:left; font-size:10px;}
.footer_left .imp{ color:#111; margin-top:15px;}
.footer_right{width:450px; float:right;}


.hwork_main{ background: url(../images/work_bg.jpg) no-repeat; height:430px; width:980px; line-height:25px; text-align:left; color:#444;}
.hwork_one{ float:right; margin:55px 25px 0 0; width:620px;}
.hwork_two{ float:right; margin:70px 25px 0 0; width:620px;}
.hwork_the{ float:right; margin:70px 25px 0 0; width:620px;}
.hwork_title{ color:#007500; font-size:12px; font-weight:bold;}
.hwork_content{ line-height:24px; text-align:left; margin:10px 25px 0px 0px;color:#444;}
.hwork_bot{ margin-left:-15px; vertical-align:bottom;}
.hwork_bot img{ width:219px; margin:10px 5px;}
.ma8{ margin:8px 0;}

.suggest{ text-align:left; color:#444;}
.suggest_title{}
.suggest_content{ line-height:22px; margin-right:20px;}
.suggest_bot{ margin-left:-15px; vertical-align:bottom;}
.suggest_bot img{margin:10px 15px;}

.bmi_calculate{ text-align:left; line-height:22px; color:#444;}
.bmi_desc{ line-height:25px; border-bottom:1px solid #ddd;width:930px; padding-bottom:20px; margin-bottom:20px;}
.bmi_desc_left{ float:left; width:580px; height: 232px;}
.bmi_desc_right{ float:right; width:320px; height: 232px; margin-left:30px;}
.bmi_desc_title{ font-size:16px; color:#007500; margin:35px 0 15px 0;}
.bmi_content{ height:340px; margin-bottom:20px;}
.bmi_cont_left_top{}
.bmi_cont_left_top h3{ font-size:16px; color:#007500;}
.bmi_cont_left_bot{ margin-top:15px; line-height:25px;}
.bmi_cont_left_bot ul li{ height:35px;}
.bmi_cont_left_bot .nums{ background:url(../images/purple_bullet.png) no-repeat; width:20px; height:20px; text-align:center; color:#fff; float:left; line-height:20px;}
.bmi_cont_left_bot .txt{ float:left; width:100px; color:#007500; font-size:14px; margin:0 20px;}
.bmi_cont_left_bot .inp{ float:left;}
.bmi_cont_left_bot .inp .intxt{ height:22px; background:url(../images/input-text-bg.gif) repeat-x; width:70px; border:1px solid #ccc;}
.bmi_cont_left{ float:left; width:560px;}
.bmi_cont_right{ float:right; width:400px;}

.bmi_cont_submit{ background:url(../images/purple-btn-left.png) right 1px no-repeat; border:none; height:25px; color:#fff; width:234px; font-weight:bold;text-align: center; cursor:pointer;}
#bmi_r{ border:1px #ddd solid; padding:15px; margin-bottom:20px; color:#000;}
.bodybmi{ color:#007500; font-size:16px; margin-bottom:20px;}


.tea_ben{ margin-top:15px; color:#444;}
.tea_ben_content{ text-align:left; line-height:22px; width:940px;}
.tea_ben_content h3{ font-size:14px; font-weight:bold; color:#007500;}
.tea_ben_left{ float:left; width:690px; }
.tea_ben_right{ float:left; width:230px; margin-left:15px;}

.pallas_story{ margin-top:15px; color:#444;}
.pallas_story_cont{ width:940px;text-align:left; line-height:22px;}
.pallas_story_cont h3{ font-size:14px; font-weight:bold; color:#007500;}
.pallas_story_left{ float:left; width:420px; margin-right:20px;}
.pallas_story_right{float:left; width:500px;}
.pallas_story_img{ text-align:center;}
.pallas_story_img2{ margin:15px 0; }
.pallas_story_img3{ margin-left:158px;}
.pallas_story_img3 ul li{ float:left; margin:20px 10px; line-height:25px;}
.pallas_story_img3 ul li img{ border:1px solid #ddd; padding:1px;}



