<?xml version="1.0"?>
<config>
    <modules>
        <Anton_Fbreferral>
            <version>0.1.0</version>
        </Anton_Fbreferral>
    </modules>
    <frontend>
        <routers>
            <fbreferral>
                <use>standard</use>
                <args>
                    <module>Anton_Fbreferral</module>
                    <frontName>fbreferral</frontName>
                </args>
            </fbreferral>
        </routers>
        <layout>
            <updates>
                <fbreferral>
                    <file>fbreferral.xml</file>
                </fbreferral>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<fbreferral>
				<use>admin</use>
				<args>
					<module>Anton_Fbreferral</module>
					<frontName>fbreferral</frontName>
				</args>
			</fbreferral>
        </routers>
    </admin>
   <adminhtml>
        <menu>
			<fbreferral module="fbreferral">
				<title>Fbreferral</title>
			<sort_order>71</sort_order>               
				<children>
					<items module="fbreferral">
					<title>Manage Items</title>
					<sort_order>0</sort_order>
					<action>fbreferral/adminhtml_fbreferral</action>
				</items>
				</children>
			</fbreferral>
		</menu>
		<layout>
			<updates>
			 <fbreferral>
				 <file>fbreferral.xml</file>
			</fbreferral>
			</updates>
		</layout>
    </adminhtml> 
    <global>
        <models>
            <fbreferral>
                <class>Anton_Fbreferral_Model</class>
                <resourceModel>fbreferral_mysql4</resourceModel>
            </fbreferral>
            <fbreferral_mysql4>
                <class>Anton_Fbreferral_Model_Mysql4</class>
                <entities>
                    <fbreferral>
                        <table>fbreferral</table>
                    </fbreferral>
                </entities>
            </fbreferral_mysql4>
        </models>
        <resources>
            <fbreferral_setup>
                <setup>
                    <module>Anton_Fbreferral</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fbreferral_setup>
            <fbreferral_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fbreferral_write>
            <fbreferral_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fbreferral_read>
        </resources>
        <blocks>
            <fbreferral>
                <class>Anton_Fbreferral_Block</class>
            </fbreferral>
        </blocks>
        <helpers>
            <fbreferral>
                <class>Anton_Fbreferral_Helper</class>
            </fbreferral>
        </helpers>
    </global>
</config>